li {
    margin-bottom: 15px;
  }
li {
    cursor: pointer;
  }
li:hover {
    background-color: #ccc;
  }

.pk-space {
  color: white;
  height: fit-content;
  width: fit-content;
  padding: 4px;
  cursor: pointer;
}

.pk-space:hover {
  opacity: 70%;
}

.active {
  background-color: lightgrey;
}